<section id="Mi-Historia">
    <div id="centrador-mi-historia">
      <h1 id="Titulo">Hola, soy Robinson Eduardo.Encantado de conocerte</h1>
      <br>
      <h1>Desde que comencé mi andadura como desarrollador independiente hace 4 años, he trabajado a distancia para distintas organizaciones, he sido diseñador de paginas y he colaborado con personas con talento para crear productos digitales tanto para empresas como para consumidores. Tengo mucha confianza, curiosidad natural y trabajo constantemente 
        para mejorar mis habilidades.Mi trabajo a distancia me ha enseñado la importancia de la comunicación efectiva y la gestión del tiempo. He aprendido a colaborar con equipos distribuidos geográficamente, utilizando herramientas de colaboración y gestión de proyectos para asegurar que los objetivos se cumplan de manera eficiente. Esta experiencia ha fortalecido mi capacidad para trabajar de manera autónoma y proactiva, siempre buscando soluciones innovadoras a los problemas que se presentan.</h1>
    </div>
</section>