<header>
    <div class="Contenedor-Header">
      <div class="Logo-Nav">
          <nav class="navbar navbar-expand-lg bg-white shadow-sm">     
              <div class="container-fluid">
                <a class="navbar-brand" href="#" id="LogoNombre">Robinson Eduardo Cala</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" routerLink="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/presentacion">Presentacion</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/conocimientos">Conocimientos</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/educacion">Educacion</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/que-soy">¿Que soy?</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/contacto">Contactame</a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
      </div>
  </div>
  </header>
  <section id="PanelInvisible-Heder">
    <h1>Este es el panel PanelInvisible</h1>
  </section>