<section id="Mi-Historia">
    <div id="centrador-mi-historia">
      <h1 id="Titulo">Desde mis primeros días como estudiante de la Facultad</h1>
      <br>
      <h1>supe que la tecnología sería más que una carrera; sería una pasión. La amplia gama de conocimientos adquiridos en mi formación académica, desde fundamentos de algoritmos y estructuras de datos hasta sistemas operativos y redes, sentó las bases para mi futuro profesional.

        Durante estos años, cada curso y proyecto fue una oportunidad para profundizar en el análisis y la programación, áreas en las que encontré una afinidad particular. Mi rol como analista programador me permitió perfeccionar habilidades críticas, como la resolución de problemas complejos, la atención al detalle y la capacidad de traducir requisitos de negocio en soluciones técnicas eficientes.</h1>
    </div>
  
</section>
<div id="presentacion-blanco">
    <div id="tabla-presentacion-blanco">
        
        <div id="Mis-Conocimientos-Diseño-foto">
            <img src='assets/disenador.png' alt="">
        </div>
        <div id="Mis-Conocimientos-Desarrollador-foto">
            <img src="assets/desarrollo-web.png" alt="">
        </div>
        <div id="Mis-Conocimientos-Analista-foto">
            <img src="assets/analista.png" alt="">
        </div>
    </div>
</div>
<!--FIN: Apartado de la Presentacion-->
<!--INICIO: Apartado de Mis Conocimientos-->
<section id="Mis-Conocimientos">
    <div id="Cuadro-presentacion-blanco">
        <div id="Mis-Conocimientos-Diseño">
            
            <h1>Diseñador</h1>
            <h2>Valoro la estructura de contenido simple, los patrones de diseño limpios y las interacciones 
              reflexivas</h2>
            <br>
            <h2  class="letra-rosa">Cosas que me gusta diseñar:</h2>
            <h2>UX, UI, Web, Aplicaciones, Logotipos</h2>
            <br>
            <h2 class="letra-rosa">Herramientas de diseño:</h2>
            <h2>Diseñador de afinidad</h2>
            <h2>Figma</h2>
            <h2>Lápiz y papel</h2>
          </div>
          <div id="Mis-Conocimientos-Desarrollador">
          
            <h1>Desarrollador</h1>
            <h2>Valoro la estructura de contenido simple, los patrones de diseño limpios y las interacciones 
              reflexivas</h2>
            <br>
            <h2 class="letra-rosa">Cosas que me gusta diseñar:</h2>
            <h2>UX, UI, Web, Aplicaciones, Logotipos</h2>
            <br>
            <h2 class="letra-rosa">Herramientas de diseño:</h2>
            <h2>Diseñador de afinidad</h2>
            <h2>Figma</h2>
            <h2>Lápiz y papel</h2>
          </div>
          <div id="Mis-Conocimientos-Analista">
            
            <h1>Analista</h1>
            <h2>Valoro la estructura de contenido simple, los patrones de diseño limpios y las interacciones 
              reflexivas</h2>
            <br>
            <h2  class="letra-rosa">Cosas que me gusta diseñar:</h2>
            <h2>UX, UI, Web, Aplicaciones, Logotipos</h2>
            <br>
            <h2 class="letra-rosa">Herramientas de diseño:</h2>
            <h2>Diseñador de afinidad</h2>
            <h2>Figma</h2>
            <h2>Lápiz y papel</h2>
          </div>

    </div>

</section>

<!-------------------------------------------------------------------------------->

<section id="Mis-Testimoneos">
    <h1>Mis Testimoneos</h1>
    <h2>La gente con la que he trabajado me ha dicho cosas muy buenas...</h2>
    <img src="assets/pascal_testimoneo.png" alt="">
    <div id="id-tes-centrar">
      <h2>"Fue un verdadero placer trabajar con Robinson y esperamos volver a trabajar con él. Definitivamente es el tipo de diseñador en el que puedes confiar un proyecto de 
        principio a fin"</h2>
    </div>
    <h2 id="h2-pascal">Pascal Tremblay</h2>
    <h3>Líder creativo, bueno</h3>

    <h2></h2>
</section>